{#
  Pagination navigation for server-side paginated lists.

  Required variables (include ... with):
  - pagination: Pagerfanta instance (from the controller)
#}

{% if pagination.nbResults > 0 %}
  {% set buttonEnabled = '
    inline-flex items-center justify-center
    w-10 h-7
    bg-white hover:bg-slate-100
    border border-slate-200
    rounded-lg shadow-sm
    text-slate-700 hover:text-slate-900
    focus:outline-none
    focus:ring-2 focus:ring-slate-700
    transition
  ' %}

  {% set buttonDisabled = '
    inline-flex items-center justify-center
    w-10 h-7
    bg-white
    border border-slate-200
    rounded-lg
    text-slate-400
  ' %}

  <nav
    class="
      flex flex-row items-center
      min-h-11 px-4
      border-t border-slate-200
    "
    aria-label="Pagination"
  >
    <p class="text-xs text-slate-700">
      {{ 'pagination.summary'|trans({
        '%start%': pagination.currentPageOffsetStart,
        '%end%': pagination.currentPageOffsetEnd,
        '%total%': pagination.nbResults,
      }) }}
    </p>

    <div class="flex gap-4 ml-auto">
      {% if pagination.hasPreviousPage %}
        <a
          href="{{ path(
            app.request.attributes.get('_route'),
            app.request.query.all|merge({
              page: pagination.previousPage
            }),
          ) }}"
          class="{{ buttonEnabled }}"
          title="{{ 'pagination.previous'|trans }}"
          aria-label="{{ 'pagination.previous'|trans }}"
        >
          {{ ux_icon(
            'lucide:chevron-left',
            { class: 'size-4 shrink-0' },
          ) }}
        </a>
      {% else %}
        <span
          class="{{ buttonDisabled }}"
          title="{{ 'pagination.previous'|trans }}"
          aria-label="{{ 'pagination.previous'|trans }}"
          aria-disabled="true"
        >
          {{ ux_icon(
            'lucide:chevron-left',
            { class: 'size-4 shrink-0' },
          ) }}
        </span>
      {% endif %}

      {% if pagination.hasNextPage %}
        <a
          href="{{ path(
            app.request.attributes.get('_route'),
            app.request.query.all|merge({
              page: pagination.nextPage
            }),
          ) }}"
          class="{{ buttonEnabled }}"
          title="{{ 'pagination.next'|trans }}"
          aria-label="{{ 'pagination.next'|trans }}"
        >
          {{ ux_icon(
            'lucide:chevron-right',
            { class: 'size-4 shrink-0' },
          ) }}
        </a>
      {% else %}
        <span
          class="{{ buttonDisabled }}"
          title="{{ 'pagination.next'|trans }}"
          aria-label="{{ 'pagination.next'|trans }}"
          aria-disabled="true"
        >
          {{ ux_icon(
            'lucide:chevron-right',
            { class: 'size-4 shrink-0' },
          ) }}
        </span>
      {% endif %}
    </div>
  </nav>
{% endif %}
